* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

.logo {
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.logo img{
    width: 10vw;
    transform: scale(1.3);
}

.logo:hover {
    transform: scale(1.1);
    background-color: #1DB954;
}

.title{
    transition: all 0.3s ease;
}

.title:hover{
    color:#1DB954;
    transform: scale(1.1);
}

.privacy{
    font-size: 0.8rem;
    color:grey;
}

.privacy a{
    color:grey;
    text-decoration:underline !important;
}

.spacer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.spacer::before, .spacer::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.signup-btn{
    background-color:#1DB954;
    color:white;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition:all 0.3s ease;
    cursor: pointer;
}

.signup-btn:hover{
    box-shadow: 0 0 10px 5px rgba(29, 185, 84, 0.5);
}

